[package]
name = "slice-partitions"
edition.workspace = true
license.workspace = true
readme.workspace = true
version.workspace = true
authors.workspace = true

[dependencies]
thiserror.workspace = true

[lints]
workspace = true
