[build]
rustflags = ["-C", "target-cpu=native"]

[target.wasm32-unknown-unknown]
rustflags = ["-C", "target-cpu=generic"]

[target.thumbv8m.main-none-eabihf]
runner = "probe-rs run --chip RP235x"

rustflags = [
          "-C", "link-arg=--nmagic",
          "-C", "link-arg=-Tlink.x",
          "-C", "link-arg=-Tdefmt.x",
          "-C", "target-cpu=cortex-m33",
]

[target.thumbv6m-none-eabi]
runner = "probe-rs run --chip RP2040"

rustflags = [
          "-C", "link-arg=--nmagic",
          "-C", "link-arg=-Tlink.x",
          "-C", "link-arg=-Tdefmt.x",
		  "-C", "target-cpu=generic"
]

[env]
DEFMT_LOG = "debug"