[build]
rustflags = ["-C", "target-cpu=native"]

[target.wasm32-unknown-unknown]
rustflags = ["-C", "target-cpu=generic"]

[target.thumbv6m-none-eabi]
runner = "probe-rs run"

rustflags = [
          "-C", "link-arg=--nmagic",
          "-C", "link-arg=-Tlink.x",
          "-C", "link-arg=-Tdefmt.x",
		  "-C", "target-cpu=generic"
]

[target.thumbv7em-none-eabihf]
runner = "probe-rs run"

rustflags = [
          "-C", "link-arg=--nmagic",
          "-C", "link-arg=-Tlink.x",
          "-C", "link-arg=-Tdefmt.x",
		  "-C", "target-cpu=generic"
]

[target.thumbv8m.main-none-eabihf]
runner = "probe-rs run"

rustflags = [
          "-C", "link-arg=--nmagic",
          "-C", "link-arg=-Tlink.x",
          "-C", "link-arg=-Tdefmt.x",
          "-C", "target-cpu=cortex-m33",
]

[target.xtensa-esp32-none-elf]
runner = "espflash flash --monitor"

rustflags = [
    "-C", "link-arg=-Tlinkall.x",
    "-C", "link-arg=-nostartfiles",
	"-C", "target-cpu=esp32",
]

[target.xtensa-esp32s2-none-elf]
runner = "espflash flash --monitor"

rustflags = [
    "-C", "link-arg=-Tlinkall.x",
    "-C", "link-arg=-nostartfiles",
	"-C", "target-cpu=esp32s2",
]

[target.xtensa-esp32s3-none-elf]
runner = "espflash flash --monitor"

rustflags = [
    "-C", "link-arg=-Tlinkall.x",
    "-C", "link-arg=-nostartfiles",
	"-C", "target-cpu=esp32s3",
]

[target.riscv32imc-unknown-none-elf]
runner = "espflash flash --monitor"

rustflags = [
    "-C", "link-arg=-Tlinkall.x",
	"-C", "target-cpu=generic",
]

[target.riscv32imac-unknown-none-elf]
runner = "espflash flash --monitor"

rustflags = [
    "-C", "link-arg=-Tlinkall.x",
	"-C", "target-cpu=generic",
]

[env]
DEFMT_LOG = "debug"
ESP_LOG = "info"